@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    table {
        width: 100%;
    }

    </style>

<div class="row">

    <div class="col-md-10">

        <div class="row">
            <div class="col-xs-2">
                <div style="position:fixed">

                    @if (Model.TriangleSet != null && Model.TriangleSet.Triangles.Any())
                    {
                        <h3>Products</h3>
                        <ul>
                            @foreach (var triangle in Model.TriangleSet.Triangles)
                            {
                                <li><a href="#@triangle.ProductName.ToLower().Replace(' ', '-')">@triangle.ProductName</a></li>
                            }
                        </ul>

                        <a href="@Model.DownloadPath">Download Output</a>

                    }
                </div>
            </div>

            <div class="col-xs-10">

                <div class="row" style="margin-bottom:-50px;">
                
                    <div class="col-xs-10">
                        <h2>Select a file to import:</h2>
                    </div>
                <form method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <div class="row">
       
                            <div class="col-xs-9">
                                <input asp-for="PostedFile" type="file" class="form-control" style="height:auto" />
                            </div>
                            <div class="col-xs-1">
                                <input type="submit" value="Upload" class="btn btn-default" />
                            </div>
                        </div>
                        <span asp-validation-for="PostedFile" class="text-danger"></span>
                    </div>

                </form>

                </div>
                @if (Model.TriangleSet != null && Model.TriangleSet.Triangles.Any())
                {

                    @foreach (var triangle in Model.TriangleSet.Triangles)
                    {
                        <div style="padding-top:50px;" id="@triangle.ProductName.ToLower().Replace(' ', '-')">

                            <h3>@triangle.ProductName</h3>

                            <table style="table-layout: fixed;">

                                <thead>
                                    <tr>
                                        <th class="text-left" style="width:80px"><strong>Origin</strong></th>

                                        @for (int i = 1; i <= Model.TriangleSet.NumberOfDevelopmentYears; i++)
                                        {
                                            <th class="text-center">@i</th>
                                        }

                                    </tr>

                                </thead>

                                @foreach (var year in triangle.Matrix.Keys)
                                {
                                    <tr>
                                        <td class="text-left" style="font-weight:bold">@year</td>

                                        @foreach (var amount in triangle.Matrix[year])
                                        {
                                            <td align="center">@amount.ToString("0")</td>
                                        }

                                    </tr>
                                }

                            </table>

                        </div>
                    }
                    <div style="padding-bottom:300px"></div>
                }
            </div>

        </div>

    </div>
</div>
